[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Tt]est[Rr]esults/

*.user
*.userosscache
*.suo
*.userprefs
*.sln.docstates
.vs/
*.csproj.user
*.csproj.userprefs

*.mdf
*.ldf

appsettings.*.json
*.user.config

*.*~
*.bak
*.backup

packages/
*.nupkg
project.lock.json
project.assets.json
*.nuget.props
*.nuget.targets

*.trx
*.coverage
*.coveragexml
TestResults/

*.ReSharper*
_ReSharper.*

.vscode/
*.code-workspace

*.vcxproj.filters

launchSettings.json

*.metrics

*.psess
*.vsp
*.vspx

.stylecop.json

.sonarqube/

*.dotSettings
*.dotSettings.user

.vscode/

*.testsettings

coverage.json
coverage.opencover.xml
coverage.cobertura.xml

[Pp]ublish/
[Rr]eleases/

*.pfx
*.p12

*.userprefs

.idea/
*.sln.iml

Thumbs.db
Desktop.ini

*.exe
*.msi
*.pdb
*.dll
*.vshost.exe
*.manifest

Publish/
PublishProfiles/

ServiceFabric/
arm-templates/
PublishScripts/

*.vspscc
*.vssscc
*.vsp