<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MainFacilitiesUseAnalysisClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="MainFacilitiesUseAnalysisClient.Properties.Settings.MainFacilitiesUseAnalysisConnectionString"
            connectionString="Data Source=ACER\SQL;Initial Catalog=MainFacilitiesUseAnalysis;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <MainFacilitiesUseAnalysisClient.Properties.Settings>
            <setting name="document2" serializeAs="String">
                <value>document</value>
            </setting>
        </MainFacilitiesUseAnalysisClient.Properties.Settings>
    </userSettings>
</configuration>