/****** Object:  Table [dbo].[ActivityTypes]    Script Date: 11/05/2008 09:27:56 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActivityTypes]') AND type in (N'U'))
DROP TABLE [dbo].[ActivityTypes]
GO
/****** Object:  Table [dbo].[ActivityTypes]    Script Date: 11/05/2008 09:27:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ActivityTypes]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[ActivityTypes](
	[ID] [tinyint] NOT NULL,
	[Name] [nvarchar](25) NOT NULL,
 CONSTRAINT [PK_ActivityTypes] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_ActivityTypeName] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (IGNORE_DUP_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
END
GO

/****** Object:  Trigger [TR_InsteadOfDeleteActivityType]    Script Date: 11/05/2008 09:27:56 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- TR_InsteadOfDeleteProductionType
------------------------------------------------------------------------------

-- Триггер операций вместо удаления типа активности
-- из таблицы типов активностей
CREATE TRIGGER TR_InsteadOfDeleteActivityType
	ON ActivityTypes
	INSTEAD OF DELETE
AS
	-- Идентификатор
	DECLARE @locID tinyint

	-- Выбор удаляемой записи
	SELECT @locID = ID
	FROM deleted

	-- Запись не может быть удалена, если имеет идентификатор, равный 1 или 2:
	-- постоянное существование активного и неактивного типов активности
	-- предусмотренно системой
	IF @locID NOT IN ( 1, 2 )
		-- Удаление записи типа активности
		DELETE FROM ActivityTypes
		WHERE ID = @locID

GO

/****** Object:  Trigger [TR_InsteadOfInsertActivityType]    Script Date: 11/05/2008 09:27:56 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- TR_InsteadOfInsertProductionType
------------------------------------------------------------------------------

-- Триггер операций вместо добавления типа активности
-- в таблицу типов активностей
CREATE TRIGGER TR_InsteadOfInsertActivityType
	ON ActivityTypes
	INSTEAD OF INSERT
AS
	DECLARE
		-- Идентификатор
		@locID   tinyint,
		-- Название
		@locName nvarchar( 25 )

	-- Выбор добавляемой записи
	SELECT @locName = [Name]
	FROM inserted

	-- Удаление ведущих и завершающих пробелов в названии
	SET @locName = LTRIM( RTRIM( @locName ) )

	-- Если название - пустая строка,
	-- то запись по-любому не будет добавлена, ибо случится ошибка
	IF LEN( @locName ) <> 0
		BEGIN
			-- Поиск идентификатора добавляемой строки - количество строк плюс 1,
			-- если идентификатор существует, то ищется первый
			-- несуществующий идентификатор при декременте найденного
			SELECT @locID = COUNT( * ) + 1
			FROM ActivityTypes

			WHILE
			(
				EXISTS
				(
					SELECT *
					FROM ActivityTypes
					WHERE ID = @locID
				) -- EXISTS
			) -- WHILE
				SET @locID = @locID - 1
		END -- IF

	-- Добавление записи типа активности
	INSERT INTO ActivityTypes ( ID, [Name] )
	VALUES ( @locID, @locName )

GO

/****** Object:  Trigger [TR_InsteadOfUpdateActivityType]    Script Date: 11/05/2008 09:27:56 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

-- TR_InsteadOfUpdateProductionType
------------------------------------------------------------------------------

-- Триггер операций вместо обновления типа активности
-- в таблице типов активностей
CREATE TRIGGER TR_InsteadOfUpdateActivityType
	ON ActivityTypes
	INSTEAD OF UPDATE
AS
	DECLARE
		-- Идентификатор
		@locID   tinyint,
		-- Название
		@locName nvarchar( 25 )

	-- Выбор заменяемой записи
	SELECT @locID = ID
	FROM deleted
	-- Выбор обновляемой записи
	SELECT @locName = [Name]
	FROM inserted

	-- Удаление ведущих и завершающих пробелов в названии
	SET @locName = LTRIM( RTRIM( @locName ) )

	-- Обновление записи типа активности
	-- с сохранением прежнего идентификатора
	UPDATE ActivityTypes
	SET [Name] = @locName
	WHERE ID = @locID

GO
IF NOT EXISTS (SELECT * FROM sys.check_constraints WHERE object_id = OBJECT_ID(N'[dbo].[CH_ActivityTypeName]') AND parent_object_id = OBJECT_ID(N'[dbo].[ActivityTypes]'))
ALTER TABLE [dbo].[ActivityTypes]  WITH CHECK ADD  CONSTRAINT [CH_ActivityTypeName] CHECK  ((len(ltrim(rtrim([Name])))<>(0)))
GO
